.navbar {
  z-index: 99999999999999;
}
.main-content {
  padding-top:50px !important;
}
@media (max-width: 992px) {
  .sidebar {
    display: none;
  }
  .main-content {
    margin-left: 0;
  }
}
.accordion-item:first-of-type>.accordion-header .accordion-button,
.accordion-item:first-of-type{
  border-radius: 0% !important;
}
.accordion-button{
  padding: 18px !important;
}
.accordion-body{
  padding-top: 0 !important;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; 
}
.form-control:focus,
.form-check-input:focus {
  box-shadow: none !important;
}
.accordion-header button:active:focus {
  border: none;
  box-shadow: none;
}
.accordion-button:focus{
  box-shadow: none !important;
}