@font-face {
    font-family: 'Geometos Neue';
    src: url('GeometosNeue.eot');
    src: local('Geometos Neue'), local('GeometosNeue'),
        url('GeometosNeue.eot?#iefix') format('embedded-opentype'),
        url('GeometosNeue.woff2') format('woff2'),
        url('GeometosNeue.woff') format('woff'),
        url('GeometosNeue.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometos Neue';
    src: url('GeometosNeueBlack.eot');
    src: local('Geometos Neue Black'), local('GeometosNeueBlack'),
        url('GeometosNeueBlack.eot?#iefix') format('embedded-opentype'),
        url('GeometosNeueBlack.woff2') format('woff2'),
        url('GeometosNeueBlack.woff') format('woff'),
        url('GeometosNeueBlack.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometos Neue';
    src: url('GeometosNeueBold.eot');
    src: local('Geometos Neue Bold'), local('GeometosNeueBold'),
        url('GeometosNeueBold.eot?#iefix') format('embedded-opentype'),
        url('GeometosNeueBold.woff2') format('woff2'),
        url('GeometosNeueBold.woff') format('woff'),
        url('GeometosNeueBold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometos Neue Extra';
    src: url('GeometosNeueExtraLight.eot');
    src: local('Geometos Neue ExtraLight'), local('GeometosNeueExtraLight'),
        url('GeometosNeueExtraLight.eot?#iefix') format('embedded-opentype'),
        url('GeometosNeueExtraLight.woff2') format('woff2'),
        url('GeometosNeueExtraLight.woff') format('woff'),
        url('GeometosNeueExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometos Neue';
    src: url('GeometosNeueLight.eot');
    src: local('Geometos Neue Light'), local('GeometosNeueLight'),
        url('GeometosNeueLight.eot?#iefix') format('embedded-opentype'),
        url('GeometosNeueLight.woff2') format('woff2'),
        url('GeometosNeueLight.woff') format('woff'),
        url('GeometosNeueLight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometos Neue Extra';
    src: url('GeometosNeueExtraBold.eot');
    src: local('Geometos Neue ExtraBold'), local('GeometosNeueExtraBold'),
        url('GeometosNeueExtraBold.eot?#iefix') format('embedded-opentype'),
        url('GeometosNeueExtraBold.woff2') format('woff2'),
        url('GeometosNeueExtraBold.woff') format('woff'),
        url('GeometosNeueExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometos Neue Ultra';
    src: url('GeometosNeueUltra.eot');
    src: local('Geometos Neue Ultra'), local('GeometosNeueUltra'),
        url('GeometosNeueUltra.eot?#iefix') format('embedded-opentype'),
        url('GeometosNeueUltra.woff2') format('woff2'),
        url('GeometosNeueUltra.woff') format('woff'),
        url('GeometosNeueUltra.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

