@font-face {
    font-family: 'materialBold';
    src: url('/fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-display: swap;
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'materialSemiBold';
    src: url('/fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'materialMedium';
    src: url('/fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'materialLight';
    src: url('/fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'materialRegular';
    src: url('/fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
}
