a:focus-visible {
  outline: none;
}
/* Reusable */
.flex__center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.blue-filter {
  filter: brightness(0) saturate(100%) invert(31%) sepia(96%) saturate(7403%) hue-rotate(190deg) brightness(94%) contrast(103%);
  }
/* Description */
.description-title {
  font-size: 1.7rem;
}
.description strong {
  color: rgb(33, 36, 39) !important;
  font-size: 20px;
}

.description p span {
    font-family: 'Inter', sans-serif !important;
  font-size: 18px;
  font-weight: 400;
  color: rgb(33, 36, 39) !important;
}
/* Area */
.sup-title,
.area-title {
  font-size: 1.5rem;
}

.p-custom {
  font-size: 14px;
  color: rgb(33, 36, 39);
  margin-bottom: 0;
}

/* buttons  */

.btn-call__us {
  width: 140px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  height: 45px;
  background-color: rgb(228, 235, 242);
  padding: 8px 16px;
  color: rgb(30, 65, 100);
  transition: 0.2s ease-out;
}
.btn-call__us:hover {
  background-color: rgb(212, 219, 226);
}


/* navigation */
.paginate  ul{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  list-style: none;
}
.paginate ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  font-size: 14px;
  text-align: center;
  color: var(--primary-white);
 
  border-radius: 5px;
  margin-inline-end: 8px;
}
.paginate ul li a{
  color: var(--primary-blue) !important;
}
.paginate ul li.selected a{
  color: var(--primary-white) !important ;
}
.paginate ul li.selected{
  background-color: var(--primary-blue);
}
/* Compound */
.compound{
transition: all .3s ease-out;
}
.compound:hover{
  box-shadow: 1px 1px 20px 6px rgb(8 8 8 / 15%)
}
.compound_description svg{
width: 16px !important;
height: 16px !important;
}
.compound-title{
font-size: 1rem;  
}

/* RTL */

[dir='rtl'] {
  .custom-prev-button,
  .custom-next-button{
    transform: rotate(180deg);
  }
}

